.App {
  text-align: center;
}

.App-Header {
  display: flex;
  font-size: 24px;
  margin: 20px auto 15px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #005E6B;
}

.App-Description {
  font-size: 20px;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #005E6B;
}

.Form-Wrapper {
  border-radius: 30px;
  padding: 15px;
  min-width: 500px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  border-color: #F9EFE0;
  border-style: solid;
  border-width: 5px;
}

.Form-Button {
    border: none;
    background: #005E6B;
    color: #F9EFE0;
    font-weight: bolder;
    border-radius: 20px;
    margin: auto;
    width: 40%;
    margin: 10px 0 0 60%;
    outline: none;
    padding: 10px;
    transition: 0.3s ease all;
    font-size: 20px;
}